In [7]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as plt
import csv
%matplotlib inline

In [8]:
filename = 'citibike.csv'

In [ ]:
#Using HOF - part a

In [20]:
from functools import reduce

In [21]:
def male_female1(row):
    return float(row['gender'])

In [24]:
#Using High Order Python Functions to map, and filter the Gender and lastly taking the count of each gender

with open(filename,'r') as fi:
    reader = csv.DictReader(fi)
    b = reduce(lambda x,y: (x[0]+y[0],x[1]+y[1]),map(lambda x:(int(x==1.0),int(x==2.0)),map(male_female1, reader)))
    print(tuple(b))

(37805, 7848)

In [ ]:
#Part b

In [25]:
def birth_year(row):
    return row['birth_year']

In [28]:
#Reading data line by line and only storing the count, birth year in a dictionary. Total length <100
count={}
with open(filename,'r') as fi:
    reader = csv.DictReader(fi)
    for i in list(map(birth_year, reader)):
        if i != '':
            count[i] = count.get(i,0)+1

In [29]:
count

{'1900': 22,
 '1901': 1,
 '1910': 2,
 '1922': 4,
 '1926': 1,
 '1929': 1,
 '1934': 8,
 '1935': 9,
 '1938': 24,
 '1939': 4,
 '1940': 21,
 '1941': 39,
 '1942': 61,
 '1943': 18,
 '1944': 59,
 '1945': 28,
 '1946': 93,
 '1947': 74,
 '1948': 149,
 '1949': 134,
 '1950': 150,
 '1951': 229,
 '1952': 247,
 '1953': 346,
 '1954': 417,
 '1955': 413,
 '1956': 488,
 '1957': 449,
 '1958': 783,
 '1959': 687,
 '1960': 771,
 '1961': 618,
 '1962': 899,
 '1963': 970,
 '1964': 891,
 '1965': 947,
 '1966': 863,
 '1967': 999,
 '1968': 1010,
 '1969': 1133,
 '1970': 1347,
 '1971': 1162,
 '1972': 1081,
 '1973': 1022,
 '1974': 1158,
 '1975': 1071,
 '1976': 1168,
 '1977': 1122,
 '1978': 1377,
 '1979': 1279,
 '1980': 1509,
 '1981': 1499,
 '1982': 1455,
 '1983': 1793,
 '1984': 1714,
 '1985': 1673,
 '1986': 1568,
 '1987': 1730,
 '1988': 1358,
 '1989': 1322,
 '1990': 1361,
 '1991': 922,
 '1992': 493,
 '1993': 470,
 '1994': 392,
 '1995': 256,
 '1996': 124,
 '1997': 94,
 '1998': 59,
 '1999': 17}